<a href="https://colab.research.google.com/github/charu11/clustering_machine_learning/blob/clustering/clustering2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import numpy as np
from sklearn.cluster import KMeans
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split
import pandas as pd

In [12]:
df = pd.read_excel('/content/drive/My Drive/Clustering_learning/titanic.xls')

df.drop(['body','name'], 1, inplace=True)
#df.convert_objects(convert_numeric=True)
df.fillna(0, inplace=True)

print(df.head())

   pclass  survived     sex  ...  embarked  boat                        home.dest
0       1         1  female  ...         S     2                     St Louis, MO
1       1         1    male  ...         S    11  Montreal, PQ / Chesterville, ON
2       1         0  female  ...         S     0  Montreal, PQ / Chesterville, ON
3       1         0    male  ...         S     0  Montreal, PQ / Chesterville, ON
4       1         0  female  ...         S     0  Montreal, PQ / Chesterville, ON

[5 rows x 12 columns]

In [13]:
def handle_non_numerical_data(df):
  columns  = df.columns.values
  for column in columns:
    text_digit_vals = {}
    def convert_to_int(val):
      return text_digit_vals[val]

    if df[column].dtype != np.int64 and df[column].dtype != np.float64:
      column_content = df[column].values.tolist()
      unique_elements = set(column_content)
      x = 0
      for unique in unique_elements:
        if unique not in text_digit_vals:
          text_digit_vals[unique] = x
          x+=1

      df[column] = list(map(convert_to_int, df[column]))

  return df

df = handle_non_numerical_data(df)
print(df.head())

   pclass  survived  sex      age  ...  cabin  embarked  boat  home.dest
0       1         1    1  29.0000  ...    116         0     1        293
1       1         1    0   0.9167  ...     27         0    21        236
2       1         0    1   2.0000  ...     27         0     0        236
3       1         0    0  30.0000  ...     27         0     0        236
4       1         0    1  25.0000  ...     27         0     0        236

[5 rows x 12 columns]

In [17]:
X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = KMeans(n_clusters=2)
clf.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [18]:
correction = 0
for i in range(len(X)):
  predict_val = np.array(X[i].astype(float))
  predict_val = predict_val.reshape(-1, len(predict_val))
  prediction = clf.predict(predict_val)

  if prediction[0] == y[i]:
    correction +=1

print(correction/len(X))

0.7272727272727273